.appt-card-header {
  height: 1px;
  background-color: #0d6efd;
}

.appt-card-container {
  height: 50vh;
}

.appt-card {
  align-self: normal;
  display: flex;
  flex-direction: column;
}

.appt-card-link {
  margin-top: auto;
}
